node_modules/
*.tgz
.dart_tool/
.packages
.build/
__pycache__/
_build/
deps/
doc/
mix.lock
pubspec.lock
Cargo.lock
target/
dist/
*.gem
*.rock
*.tar
*.tar.gz
*.nupkg
nuget/**/bin/
nuget/**/obj/
perl/Makefile
perl/MYMETA.*
perl/blib/
perl/pm_to_blib
